"$schema" = 'https://starship.rs/config-schema.json'

# Terminal の右側に出したいので right_format に値を渡す
right_format = """
$singularity\
$kubernetes\
$vcsh\
$fossil_branch\
$hg_branch\
$pijul_channel\
$docker_context\
$package\
$c\
$cpp\
$cmake\
$cobol\
$daml\
$dart\
$deno\
$dotnet\
$elixir\
$elm\
$erlang\
$fennel\
$fortran\
$golang\
$guix_shell\
$haskell\
$haxe\
$helm\
$java\
$julia\
$kotlin\
$gradle\
$lua\
$nim\
$nodejs\
$ocaml\
$opa\
$perl\
$php\
$pulumi\
$purescript\
$python\
$raku\
$rlang\
$red\
$ruby\
$rust\
$scala\
$solidity\
$swift\
$terraform\
$vlang\
$vagrant\
$xmake\
$zig\
$buf\
$conda\
$pixi\
$meson\
$spack\
$memory_usage\
$aws\
$gcloud\
$openstack\
$azure\
$crystal\
$custom\
$status\
$os\
$battery\
$time"""

[aws]
symbol = " "

[buf]
symbol = " "

[bun]
symbol = " "

[c]
symbol = " "

[cpp]
symbol = " "

[cmake]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "
format = "[ $symbol($version) ]($style)"

[deno]
symbol = " "

[directory]
read_only = " 󰌾"
truncation_length = 0
truncate_to_repo = false

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fortran]
symbol = " "

[fossil_branch]
symbol = " "

[gcloud]
symbol = " "
format = '[(\($region\))]($style) '

[git_branch]
symbol = " "
format = '[$symbol$branch(:$remote_branch)]($style) '

[git_commit]
tag_symbol = '  '

[golang]
symbol = " "
format = "[ $symbol($version) ]($style)"

[gradle]
symbol = " "
format = "[ $symbol($version) ]($style)"

[guix_shell]
symbol = " "

[haskell]
symbol = " "
format = "[ $symbol($version) ]($style)"

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "
format = "[ $symbol($version) ]($style)"

[julia]
symbol = " "
format = "[ $symbol($version) ]($style)"

[kotlin]
symbol = " "
format = "[ $symbol($version) ]($style)"

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "
format = "[ $symbol($version) ]($style)"

[nim]
symbol = "󰆥 "
format = "[ $symbol($version) ]($style)"

[nix_shell]
symbol = " "
format = '[$symbol$state( \($name\))]($style) '

[nodejs]
symbol = " "
format = "[ $symbol($version) ]($style)"

[ocaml]
symbol = " "
format = "[ $symbol($version) ]($style)"

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
AOSC = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Elementary = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Ios = "󰀷 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "
Zorin = " "

[package]
symbol = "󰏗 "
format = "[ $symbol($version) ]($style)"

[perl]
symbol = " "
format = "[ $symbol($version) ]($style)"

[php]
symbol = " "
format = "[ $symbol($version) ]($style)"

[pijul_channel]
symbol = " "
format = "[ $symbol($version) ]($style)"

[pixi]
symbol = "󰏗 "
format = "[ $symbol($version) ]($style)"

[python]
symbol = " "
format = "[ $symbol($version) ]($style)"

[rlang]
symbol = "󰟔 "
format = "[ $symbol($version) ]($style)"

[ruby]
symbol = " "
format = "[ $symbol($version) ]($style)"

[rust]
symbol = "󱘗 "
format = "[ $symbol($version) ]($style)"

[scala]
symbol = " "
format = "[ $symbol($version) ]($style)"

[status]
symbol = " "
format = "[ $symbol($version) ]($style)"

[swift]
symbol = " "
format = "[ $symbol($version) ]($style)"

[xmake]
symbol = " "
format = "[ $symbol($version) ]($style)"

[zig]
symbol = " "
format = "[ $symbol($version) ]($style)"
